@font-face {
    font-family: 'monsterrat';
    src: url(fonts/FontsFree-Net-Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'michroma';
    src: url(fonts/Michroma.ttf);
}

:root {
    --clr-bg: #121212;
    --clr-text: #fff;
    --clr-accent: #F24194;

    --ff-title: 'michroma';
    --ff-subtitle: 'michroma', sans-serif;
    --ff-heading: 'montserrat', sans-serif;

    /* mobile */
    --fs-text-mb: 1.125rem; 
    --fs-h1-mb: 3.5rem;
    --fs-subtitle-mb: 1.8rem;
    --fs-small: 1rem;

    --lh-text-mb: 2;
    --lh-h1-mb: 4rem;
    --lh-subtitle-mb: 2.3;

    --mg-top-mb: 5rem;


    /* desktop */
    --fs-text-desk: 1.25rem;
    --fs-h1-desk: 6rem;
    --fs-subtitle-desk: 2rem;
    --fs-h2-desk: 2rem;

    --lh-h1-desk: 6.5rem;
    --lh-subtitle-desk: 2.5;

    --mg-top-desk: 11rem;
}

* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}


/* general styling */

body {
    width: 100%;
    margin: 4.375rem auto;
    color: var(--clr-text);
    background-color: var(--clr-bg);
    font-family: var(--ff-title);
    font-size: var(--fs-text-mb);
    line-height: var(--lh-text-mb);
    /* animation: filter-animation 5s infinite; */
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--clr-text);
}

ul {
    list-style-type: none;
}

/* @keyframes filter-animation {
    0% {
      filter: hue-rotate(0deg);
    }
    
    50% {
      filter: hue-rotate(0deg);
    }
    
    100% {
      filter: hue-rotate(0deg);
    }
} */


/* links */

.span-open,
.link-item {
    transition: .8s;
    transition-property: transform;
}

.span-open {
    display: inline-block;
    margin-bottom: 0;
}

.span-open a {
    font-size: 25px;
    color: var(--clr-accent);
    font-weight: bold;
    margin-left: 3px;
    vertical-align: middle;
}

.span-open:hover, 
.span-open:hover a {
    transform: scale(1.5);
}

.span-open:hover a {
    color: var(--clr-accent);
}

.link-item:hover a {
    color: var(--clr-accent);
    font-weight: bold;
}


/* typography */

h1, h2, h3, p {margin: 0}

h2 {
    font-size: var(--fs-subtitle-mb);
    line-height: var(--lh-subtitle-mb);
    font-family: var(--ff-heading);
    color: var(--clr-accent);
    font-weight: 700;
}

h1,
h2 {
    text-transform: uppercase;
}

.content-list li p {
    font-size: var(--fs-text-mb);
    line-height: var(--lh-text-mb);
}


/* header */

header {
    margin: 2rem 2rem 0;
}

h1 {
    font-size: var(--fs-h1-mb);
    font-family: var(--ff-title);
    line-height: var(--lh-h1-mb);
    letter-spacing: -4%;
}

h1 span{
    color: var(--clr-accent);
}

.subtitle {
    line-height: var(--lh-subtitle-mb);
    font-family: var(--ff-subtitle);
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.625rem;
}

.launch {
    visibility: hidden;
}

.wrapper-head a,
.wrapper-head img {
    display: none;
}

.shuttle-icon {
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    animation: moveUpDown 3s linear infinite;
    border: 2px dotted var(--clr-text);
    border-radius: 50%;
    padding: 1.2rem;
}


@keyframes moveUpDown {
    100% {
        bottom: 80px;
    } 
    
    50% {
        bottom: 100px;
    }

    0% {
        bottom: 80px;
    }

}

/* main */

.content-item {
    margin: var(--mg-top-mb) 2rem 0;
}

.planet-icon {
    height: 60px;
    width: 60px;
    margin-bottom: .8rem;
    animation: spin 15s infinite linear;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content-item-text {
    margin-left: 2rem;
    padding-left: 1rem;
    position: relative;
}

.content-item-text:before, 
.content-item-text:after,
.content-item h2:after {
    content: '';
    position: absolute;
    background-color: var(--clr-text);
    transform: translateX(-50%);
    left: 0;

}

.content-item-text:before {
    height: 100%;
    width: 3px;
}

.content-item h2:after,
.content-item-text:after {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.content-item h2:after {
    left: 0;
}


/* footer */

footer {
    margin: 7rem 2rem 2rem;
}

.links {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    justify-content: start;
}


/* desktop */


@media (min-width: 820px) {

    body {
        margin: 0;
        font-size: var(--fs-text-desk);
    }

    h1 {
        font-size: var(--fs-h1-desk);
        font-family: var(--ff-desk);
        line-height: var(--lh-h1-desk);
        letter-spacing: .5rem;
    }

    h2 {
        font-size: var(--fs-h2-desk);
        line-height: var(--lh-subtitle-desk);
    }

    .subtitle {
        font-size: var(--fs-subtitle-desk);
        line-height: var(--lh-subtitle-desk);
        margin-top: 1em;
    }

    p,
    .content-list li p {
        font-size: var(--fs-text-desk);
    }

    header {
        padding: 0;
        margin: 0;
        background-color: var(--clr-bg);
        background-image: linear-gradient(0deg, var(--clr-bg) 0%, #f241948a 5%, var(--clr-bg) 30%); 
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .wrapper-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        position: relative;
    }

    .wrapper-head a {
        display: block;
    }

    .launch {
        display: flex;
        visibility: unset;
        position: absolute;
        bottom: 2rem;
        text-align: center;
    }

    .launch img {
        display: block;
        left: 25%;
        position: absolute;
    }

    .launch p {
        margin: 0 0 1rem;
    }

    .content-item {
        padding: 0 0 2rem;
    }

    .planet-icon {
        height: 100px;
        width: 100px;
    }

    .links {
        width: 80%;
        margin-left: 0;
        align-content: start;
    }

    .content-list li {
        position: relative;
        width: 50%;
        z-index: 10;
    }
    

    .content-list li:nth-child(odd) {
        float: left;
        clear: right;
    }

    .content-list li:nth-child(even) {
        float: right;
        clear: left;
    }

    .content-list li:last-child {
        margin-bottom: 7rem;
    }

    .content-list li:first-child {
        margin-top: 0rem;
    } 

    .content-item-text {
        padding-left: 1.5rem;
    }

    footer {
        margin: 5rem 0;
    }

    .links {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {

    body {
        margin: 0;
        font-size: 1.5rem;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 5rem;
    }

    p, 
    .content-list li p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    
}